Repository thiagobarrosjp/ClimaStation: changes, and which pre-commit hooks are due for each by the changed paths.
All: fixture_freshness_airtemp, gen_available_functions

fixture_freshness_airtemp:
  name: Ensure airtemp fixture is fresh
  entry: python app/tools/refresh_fixture.py --input data/dwd/1_crawl_dwd/10_minutes_air_temperature_urls_sample100.jsonl --output tests/dwd/fixtures/10_minutes_air_temperature_urls_sample100.jsonl
  language: system
  pass_filenames: false

gen_available_functions:
  name: Regenerate available_functions.md
  entry: python app/tools/gen_available_functions.py --check
  language: system
  pass_filenames: false

Add golden expected manifest for air temperature
  tests/dwd/golden/expected/10_minutes_air_temperature_urls.golden.jsonl
Due: fixture_freshness_airtemp

chore: run all checks (online+offline) and tests
  README.txt
  app/config/datasets/10_minutes_air_temperature.yaml
  app/main/run_pipeline.py
  app/pipeline/crawler.py
  app/processors/base_processor.py
  app/tools/refresh_fixture.py
  context/available_functions.md
  docs/test_crawler_golden_offline.py
  learning_plan.md
  tests/dwd/fixtures/10_minutes_air_temperature_urls_sample100.jsonl
  tests/dwd/fixtures/10_minutes_air_temperature_urls_sample100.jsonl.validation.json
Due: fixture_freshness_airtemp, gen_available_functions

chore: run all checks
  README.txt
  app/config/base_config.yaml
  context/available_functions.md
  scripts/run_all.ps1
  tests/dwd/fixtures/10_minutes_air_temperature_urls_sample100.jsonl
Due: fixture_freshness_airtemp

chore: run all checks
  scripts/run_all.ps1
Due: none

chore: run all checks
  README.txt
Due: none

chore: run all checks
  README.txt
  scripts/run_all.ps1
Due: none

chore: run all checks
  README.txt
  app/main/run_pipeline.py
  app/pipeline/crawler.py
  app/tools/gen_available_functions.py
  context/available_functions.md
  tests/dwd/golden/expected/10_minutes_air_temperature_urls_sample100.golden.jsonl
  tests/dwd/test_crawler_golden_offline.py
Due: fixture_freshness_airtemp, gen_available_functions

chore: run all checks
  app/main/run_pipeline.py
  context/available_functions.md
Due: fixture_freshness_airtemp, gen_available_functions

chore: run all checks
  README.txt
  app/pipeline/__init__.py
  app/pipeline/extractor.py
  app/pipeline/parser.py
  app/pipeline/types.py
  app/pipeline/writer.py
  context/available_functions.md
  context/quality_standards.md
  docs/dwd/contracts/extractor.md
  docs/dwd/contracts/parser.md
  docs/dwd/contracts/writer.md
  requirements.txt
  schemas/dwd/record_10_minutes_air_temperature.py
  schemas/dwd/writer_manifest.schema.json
  tests/dwd/conftest.py
  tests/dwd/pipeline/test_public_interface.py
Due: fixture_freshness_airtemp, gen_available_functions

Initial project setup: directory structure and documentation
  .gitignore
  CLAUDE.md
  DEVELOPMENT.md
  STATUS.md
  docs/ClimaStation_Context.md
  docs/processing-details.md
  reference/station_bundesland.csv
  reference/translations.json
  schemas/dwd_10min_air_temperature_aggregates_schema.yaml
  schemas/dwd_10min_air_temperature_metadata_schema.yaml
  schemas/dwd_10min_air_temperature_schema.yaml
Due: none

Complete Phase 1: Development environment setup
  STATUS.md
  requirements.txt
Due: none

Path conditions:
  fixture_freshness_airtemp: any of: ^app/|^tests/|^data/
  gen_available_functions: any of: ^app/.*\.py$|^app/tools/gen_available_functions\.py$
